@import 'tailwindcss';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4d4d4d;
  background-color: #f7f7f7;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-weight: 200;
  font-size: 4rem;
  line-height: 7rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  line-height: 4.5rem;
  margin: 0;
}
