@use '../../styles/typography.scss';
@use '../../styles/margins.scss';
@use '../../styles/colors.scss';
@use '../../styles/variables.module.scss';

.title {
  display: flex;
  color: colors.$title;

  &.heading-one {
    @include typography.heading-1();
    margin-bottom: margins.$lg;
  }

  &.heading-two {
    @include typography.heading-2();
    margin-bottom: margins.$lg;
  }

  &.heading-three {
    @include typography.heading-3();
    margin-bottom: margins.$lg;
  }

  &.heading-four {
    @include typography.heading-4();
    margin-bottom: margins.$lg;
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}
