#form-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// #heading1 {
//   justify-content: center;
// }

.page-text {
  text-align: justify;
  margin-top: 10px;
}
