body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4d4d4d;
  background-color: #f7f7f7;
}

h1,
p {
  margin: 0;
}
